mixin color-type__fonts
    .color-type__fonts
        .fonts__item__example
            h1 H1
        .fonts__item__desc
            h1 This one is the sub-section or widget title 
        .fonts__item__example
            h2 H2
        .fonts__item__desc
            h2 Next one is the item title inside widgets 
        .fonts__item__example
            h3 H3
        .fonts__item__desc
            h3 This is a label or CTA text    
        .fonts__item__example
            p Body
        .fonts__item__desc
            p This is the body text which is used for most of the design, like paragraphs, lists, etc. 