include ../../../button/button.pug

mixin user-profile_unlogged
    .user-profile_unlogged
        +button({color:'light', size:'small', text:'Войти'})
        +button({color:'dark', size:'small', text:'Зарегестрироваться'})
