block header
  div(class='header-logo')
    img(src='../img/icons/Logo.png' alt='Логотип Toxin')

div(class='header-nav')
  div(class='header-nav__item')
    a(href='#') О нас
    a(href='#') Услуги
    a(href='#') Вакансии
    a(href='#') Новости
    a(href='#') Соглашения
    input(type='button' name='entry' value='Войти')
    input(type='button' name='registrate' value='Зарегистрироваться')


