mixin doughnut-chart__chart(data)
    .doughnut-chart__chart
        svg(height="120" width="120" viewBox="0 0 120 120" id="doughnut-chart")
            defs
                linearGradient(id="gradientGreat")
                    stop(offset="0%" stop-color="#FFE39C")
                    stop(offset="100%" stop-color="#FFBA9C")
                linearGradient(id="gradientGood")
                    stop(offset="0%" stop-color="#6FCF97")
                    stop(offset="100%" stop-color="#66D2EA")
                linearGradient(id="gradientModerate")
                    stop(offset="0%" stop-color="#BC9CFF")
                    stop(offset="100%" stop-color="#8BA4F9")
                linearGradient(id="gradientBad")
                    stop(offset="0%" stop-color="#919191")
                    stop(offset="100%" stop-color="#3D4975")
            g(fill="none" stroke-width="3" transform="rotate(-90 60 60)")
                //circle(r="57" cx="60" cy="60" stroke="url(#gradientBad)" stroke-dasharray="0")
                circle(r="57" cx="60" cy="60" stroke="url(#gradientModerate)" stroke-dasharray="88 270" )
                circle(r="57" cx="60" cy="60" stroke="url(#gradientGood)" stroke-dasharray="88 270" transform="rotate(90 60 60)")
                circle(r="57" cx="60" cy="60" stroke="url(#gradientGreat)" stroke-dasharray="176 182" transform="rotate(180 60 60)")