.footer_narrow
    .footer_narrow__inner
        .footer_narrow__item
            include ../__logo/footer__logo.pug
        .footer_narrow__item
            include ../__copyright/footer__copyright.pug  
        .footer_narrow__item
            include ../__social/footer__social.pug  