@mixin quicksand24 {
    font-family: Quicksand;
    font-size: 24px;
    line-height: 30px;
}

@mixin quicksand19 {
    font-family: Quicksand;
    font-size: 19px;
    line-height: 24px;
}

@mixin quicksand14 {
    font-family: Quicksand;
    font-size: 14px;
    line-height: 17px;
}

@mixin montserrat12 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}