.footer__about
    ul
        li
            h3 О нас
        li 
            a(href='#') О сервисе
        li
            a(href='#') Наша команда
        li
            a(href='#') Вакансии
        li
            a(href='#') Инвесторы