extends base.pug
block title
    title Colors & Types
block links
    link(href='')
block content
    div(class="logo")
        img(src='./assets/logo_grey.png' alt='Логотип Toxin')
    div(class='main')
        div(class='colors')
            ul
                li.colors__item
                    .colors__item-example-1
                    .colors__item-desc
                        h2 Dark Shade 100% 
                        h2 #1F2041 
                li.colors__item
                    .colors__item-example-2
                    .colors__item-desc
                        h2 Dark Shade 75% 
                        h2 #1F2041
                li.colors__item
                    .colors__item-example-3
                    .colors__item-desc
                        h2 Dark Shade 50% 
                        h2 #1F2041
                li.colors__item
                    .colors__item-example-4
                    .colors__item-desc
                         h2 Dark Shade 25% 
                         h2 #1F2041
                li.colors__item
                    .colors__item-example-5
                    .colors__item-desc
                        h2 Dark Shade 5% 
                        h2 #1F2041
                li.colors__item
                    .colors__item-example-6
                    .colors__item-desc
                        h2 Purple 
                        h2 #BC9CFF
                li.colors__item
                    .colors__item-example-7
                    .colors__item-desc
                        h2 Green 
                        h2 #6FCF97 
        div(class='types')
            ul
                li.types__item 
                    .types__item-example
                        h1 H1
                    .types__item-desc
                        h1 This one is the sub-section or widget title 
                li.types__item 
                    .types__item-example
                        h2 H2
                    .types__item-desc
                        h2 Next one is the item title inside widgets 
                li.types__item 
                    .types__item-example
                        h3 H3
                    .types__item-desc
                        h3 This is a label or CTA text    
                li.types__item 
                    .types__item-example
                        p Body
                    .types__item-desc
                        p This is the body text which is used for most of the design, like paragraphs, lists, etc. 
