extends base.pug
block title 
    title Headers & Footers
block links
    link(href='')
block content
    section.header-non-registed
        .logo
         img(src='assets/Logo.png' alt='Логотип Toxin')
         .header-non-registed__nav
            a(href='#') О нас
            a(href='#') Услуги
            a(href='#') Вакансии
            a(href='#') Новости
            a(href='#') Соглашения
    section.header-registed
    section.footer-nav
    section.footer-info
    section.footer-info-relative