.footer__nav
    ul
        li
            h3 Навигация
        li
            a(href='#') О нас
        li
            a(href='#') Новости
        li 
            a(href='#') Служба поддержки
        li
            a(href='#') Услуги