mixin doughnut-chart__legend
    .doughnut-chart__legend
        p.legend__item.legend__item_great='Великолепно'
        p.legend__item.legend__item_good='Хорошо'
        p.legend__item.legend__item_moderate='Удовлетворительно'
        p.legend__item.legend__item_bad='Плохо'