.footer__main
    .layout-container
        .footer__main_inner
            include ../__hotel-info/footer__hotel-info.pug
            include ../__nav/footer__nav.pug
            include ../__about/footer__about.pug
            include ../__service/footer__service.pug
            include ../__subscription/footer__subscription.pug