include ../text-field/text-field.pug
include ./__email-input/registration__email-input.pug
include ./__password-input/registration__password-input.pug

mixin registration
    .registration
        +registration__email-input
        +registration__password-input
