include ../../../blocks/button/button.pug

mixin signin-form__create-account
    .signin-form__create-account
        span='Нет аккаунта на Toxin?'
        +button({color:'light',size:'small', text:'Создать'})