.footer__social
    img(src='../../assets/img/icons/social/twitter.png' alt='twitter')
    img(src='../../assets/img/icons/social/facebook.png' alt='facebook')
    img(src='../../assets/img/icons/social/instagram.png' alt='instagram')